<!DOCTYPE html>
<html>

<head>
    <title>Your Personalized Gif</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{time}}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1cfd2837ce.js" crossorigin="anonymous"></script>
</head>

<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light" id="nav">
        <div class="container-fluid">
            <i class="fas fa-hand-holding-heart"></i>

            <a class="navbar-brand" href="/index">YOUR SHELTER</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/map">Maps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/donatevolunteer">Volunteer</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Get Help
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/youth">Youth</a></li>
                            <li><a class="dropdown-item" href="/women">Women</a></li>
                            <li><a class="dropdown-item" href="/men">Men</a></li>
                            <li><a class="dropdown-item" href="/lgbtq">LGBTQ</a></li>
                            <li><a class="dropdown-item" href="/transportation">Transportation </a></li>

                        </ul>
                    </li>
                </ul>
            </div>

            <div class="d-grid gap-2 d-md-block">
                {% if session %}
                <a href="/logout"><button type="button" class="top-btn btn-outline-primary">Logout</button></a>
                {% endif %}
                <a href='/signup'><button type="button" class="top-btn btn-outline-primary">Sign Up</button></a>
                <a href='/login'><button type="button" class="top-btn btn-outline-primary">Log In</button></a>
            </div>
        </div>


    </nav>



    <div class="shelter-home">

        <div class="row" id="ad">

            <div class="col-lg-12 text-center pt-3">
                <!-- donate button -->
                <!-- <span class="donate1" onclick="openNav()"><h1>DONATE<img src="img/make-a-donation.svg"style="height:2rem;margin-bottom:0.7rem;"></h1></span> -->
                <!-- <button type="submit" class="donate1" id="" data-toggle="modal"
                    data-target="#exampleModalCenter">DONATE<i class="fas fa-donate"></i></button>  -->
                <a href='/donatevolunteer'><button type="submit" class="donate1" id="">DONATE<i
                            class="fas fa-donate"></i></button></a>

            </div>
        </div>





        <!-- donate volunteer -->
        <h1>Volunteer</h1>
        <p> If you are looking for ways to help and support the homeless shelters and inns, <br>
            below are resources you can check out based on the state you reside in. Thank you so much <br>
            for making an impact and helping the homeless community! </p>

        <div class="container">
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">National</h5>
                                <p class="card-text"></p>
                                <a href="https://nationalhomeless.org/taking-action/volunteer/" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Alabama</h5>
                                <p class="card-text"></p>
                                <a href="https://firehouseshelter.com/get-involved/volunteer/" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Alaska</h5>
                                <p class="card-text"></p>
                                <a href="https://www.hud.gov/states/alaska/homeless/volunteerhomeless" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Arizonat</h5>
                                <p class="card-text"></p>
                                <a href="https://www.phoenix.gov/homeless-help-volunteers" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Arkansas</h5>
                                <p class="card-text"></p>
                                <a href="https://www.hud.gov/states/arkansas/homeless/volunteer" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">California</h5>
                                <p class="card-text"></p>
                                <a href="https://homeless.lacounty.gov/volunteer/"  target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Colorado</h5>
                                <p class="card-text"></p>
                                <a href="https://www.coloradocoalition.org/getinvolved" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Connecticut</h5>
                                <p class="card-text"></p>
                                <a href="https://www.hud.gov/states/connecticut/homeless/volunteer" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Delaware</h5>
                                <p class="card-text"></p>
                                <a href="https://www.hud.gov/states/delaware/homeless/volunteer" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Florida</h5>
                                <p class="card-text"></p>
                                <a href="https://www.centralfloridahomeless.org/take-action" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Georgia</h5>
                                <p class="card-text"></p>
                                <a href="https://www.atlantadowntown.com/initiatives/partner-for-hope/homeless-services" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Hawaii</h5>
                                <p class="card-text"></p>
                                <a href="https://www.hud.gov/states/hawaii/homeless/volunteer" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Idaho</h5>
                                <p class="card-text"></p>
                                <a href="https://boiserm.org/get-involved/" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Illinois</h5>
                                <p class="card-text"></p>
                                <a href="https://www.connect2home.org/volunteer.html" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Indiana</h5>
                                <p class="card-text"></p>
                                <a href="https://wheelermission.org/ways-to-give/" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Iowa</h5>
                                <p class="card-text"></p>
                                <a href="https://centraliowashelter.org/how-to-help/volunteer.html" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Kansas</h5>
                                <p class="card-text"></p>
                                <a href="https://louhomeless.org/how-you-can-help/volunteer/" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Kentucky</h5>
                                <p class="card-text"></p>
                                <a href="https://louhomeless.org/how-you-can-help/volunteer/" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Louisiana</h5>
                                <p class="card-text"></p>
                                <a href="https://www.hud.gov/states/louisiana/homeless/volunteer" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Maine</h5>
                                <p class="card-text"></p>
                                <a href="http://www.shelterme.org/needs.html" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Maryland</h5>
                                <p class="card-text"></p>
                                <a href="https://www.hchmd.org/volunteer" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Massachusetts</h5>
                                <p class="card-text"></p>
                                <a href="https://mahomeless.org/volunteer-opportunities/" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Michigan</h5>
                                <p class="card-text"></p>
                                <a href="https://www.voami.org/" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Minnesota</h5>
                                <p class="card-text"></p>
                                <a href="http://mnhomeless.org/get-involved/volunteer.php" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Mississippi</h5>
                                <p class="card-text"></p>
                                <a href="https://www.hud.gov/states/mississippi/homeless/volunteer" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Missouri</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" target="_blank" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="p-3 border bg-light">
                        <div class="card" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text"></p>
                                <a href="https://www.covenanthousemo.org/volunteer-with-chmo" class="top-btn">Volunteer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <a href="https://nationalhomeless.org/taking-action/volunteer/"> National </a>
        <a href="https://firehouseshelter.com/get-involved/volunteer/">Alabama</a>
        <a href="https://www.hud.gov/states/alaska/homeless/volunteerhomeless"> Alaska</a>
        <a href="https://www.phoenix.gov/homeless-help-volunteers"> Arizona</a>
        <a href="https://www.hud.gov/states/arkansas/homeless/volunteer">Arkansas</a>
        <a href="https://homeless.lacounty.gov/volunteer/"> California </a>
        <a href="https://www.coloradocoalition.org/getinvolved">Colorado </a>
        <a href="https://www.hud.gov/states/connecticut/homeless/volunteer">Connecticut </a>
        <a href="https://www.hud.gov/states/delaware/homeless/volunteer">Delaware </a>
        <a href="https://www.centralfloridahomeless.org/take-action"> Florida</a>
        <a href="https://www.atlantadowntown.com/initiatives/partner-for-hope/homeless-services"> Georgia</a>
        <a href="https://www.hud.gov/states/hawaii/homeless/volunteer"> Hawaii </a>
        <a href="https://boiserm.org/get-involved/">Idaho</a>
        <a href="https://www.connect2home.org/volunteer.html">Illinois</a>
        <a href="https://wheelermission.org/ways-to-give/">Indiana</a>
        <a href="https://centraliowashelter.org/how-to-help/volunteer.html">Iowa</a>
        <a href="Kansas"> Kansas </a>
        <a href="https://louhomeless.org/how-you-can-help/volunteer/">Kentucky</a>
        <a href="https://www.hud.gov/states/louisiana/homeless/volunteer"> Louisiana </a>
        <a href="http://www.shelterme.org/needs.html">Maine</a>
        <a href="https://www.hchmd.org/volunteer">Maryland</a>
        <a href="https://mahomeless.org/volunteer-opportunities/">Massachusetts</a>
        <a href="https://www.voami.org/"> Michigan </a>
        <a href="http://mnhomeless.org/get-involved/volunteer.php">Minnesota</a>
        <a href="https://www.hud.gov/states/mississippi/homeless/volunteer"> Mississippi</a>
        <a href="https://www.covenanthousemo.org/volunteer-with-chmo"> Missouri</a>
        <a href="https://www.justserve.org/montanarescuemission"> Montana </a>
        <a href="https://sienafrancis.org/how-to-help/volunteer/volunteer.html">Nebraska</a>
        <a href="https://nphy.org/">Nevada</a>
        <a href="https://www.manchesternh.gov/Residents/Volunteer">New Hampshire</a>
        <a href="https://www.hud.gov/states/new_jersey/homeless/volunteer">New Jersey</a>
        <a href="https://abqhch.org/get-involved/">New Mexico</a>
        <a href="https://www.coalitionforthehomeless.org/where-to-volunteer-in-nyc-homelessness/"> New York</a>
        <a href="https://www.urbanministrycenter.org/">North Carolina</a>
        <a href="https://www.hud.gov/states/north_dakota/homeless/volunteer"> North Dakota</a>
        <a href="https://www.neoch.org/become-a-volunteer"> Ohio </a>
        <a href="https://homelessalliance.org/?page_id=251"> Oklahoma</a>
        <a href="https://www.portlandoregon.gov/toolkit/69886">Oregon</a>
        <a href="https://www.voapa.org/homeless-services">Pennsylvania</a>
        <a href="https://www.crossroadsri.org/how-you-can-help-1"> Rhode Island</a>
        <a href="https://www.hud.gov/states/south_carolina/homeless/volunteer"> South Carolina </a>
        <a href="https://www.hud.gov/states/south_dakota/homeless">South Dakota</a>
        <a href="https://nashvillerescuemission.org/get-involved/">Tennessee</a>
        <a href="https://caritasofaustin.org/get-involved/volunteer/">Texas</a>
        <a href="https://www.voaut.org/homeless"> Utah</a>
        <a href="https://www.hud.gov/states/vermont/homeless/volunteer">Vermont</a>
        <a href="https://www.voachesapeake.org/homeless"> Virginia</a>
        <a href="https://www.ugm.org/volunteer/"> Washington</a>
        <a href="https://www.hud.gov/states/west_virginia/homeless/volunteer">West Virginia</a>
        <a href="https://www.hud.gov/states/wisconsin/homeless/volunteer">Wisconsin</a>
        <a href="https://wyomission.org/get-involved/"> Wyoming</a>" -->
    </div>
</div>
</div>



    <!-- <a href = "/index"> Home </a>
    <br> <br>
    <a href = "/logout"> Logout </a> -->

        
    <footer style="background-color:#C087E6;padding-bottom:2rem;">
        <div class="foot container">
            <div class="row">
                <div class="col-md-6">
                    <hr style="background-color:white;height:0.1rem;width:40%;" align="left">
                    <h3>FOLLOW US</h3>
                    <img src="https://image.flaticon.com/icons/png/512/174/174855.png" style="height:2rem;">
                    <img src="https://image.flaticon.com/icons/png/512/733/733579.png" style="height:2rem;">
                    <img src="https://image.flaticon.com/icons/png/512/1384/1384053.png" style="height:2rem;">
                    <img src="https://image.flaticon.com/icons/png/512/2111/2111709.png" style="height:2.8rem;">
                </div>
                <div class="col-md-6" style="margin-top:1.8rem;">
                    <h5>Join other informed donors and get updates on new features, news, and volunteering
                        opportunities.</h5>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Your email address">
                        <div class="input-group-append">
                            <button type="submit" class="top-btn" id="myBtn" data-toggle="modal"
                                data-target="#exampleModalCenter">Submit</button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle"
                                                style="color:#C087E6;font-size: 1.2rem; font-family: 'Lato', sans-serif;float:left;">
                                                THANK YOU FOR JOINING OUR MAILING LIST</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p style="color:#C087E6;font-family: 'Lato', sans-serif;float:left">You are
                                                will now be added to our databse and you will get volunteer and shelter updates directly.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="top-btn"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row" style="margin-top:5rem;">
                <div class="col-md-3">
                    <h4>CONTACT<h4>
                            <h5 class="mt-3">Your Shelter<br>
                                Po Box 1098<br>
                                Washington, D.C.<br> United States<br></h5>
                            <a href="mailto: yourshelteresource@gmail.com">yourshelteresource@gmail.com</a>
                            <br>
                            (543) 234-2406</h5>

                </div>
                <div class="col-md-3">
                    <h4>HELP<h4>
                            <a href="#">
                                <h5 class="mt-3">Donate</h5>
                            </a>
                            <a href="fix.html">
                                <h5 class="mt-3">Volunteer</h5>
                            </a>

                </div>
                <div class="col-md-3">
                    <h4> AWARENESS <h4>
                            <a href="problem.html">
                                <h5 class="mt-3">Concerns</h5>
                            </a>
                            <a href="fix.html">
                                <h5 class="mt-3">Solutions</h5>
                            </a>
                            <a href="#news">
                                <h5 class="mt-3">News</h5>
                            </a>
                            <a href="">
                                <h5 class="mt-3">Subscribe</h5>
                            </a>
                            <a href="#info">
                                <h5 class="mt-3">Our Mission</h5>
                            </a>
                </div>
                <div class="col-md-3">
                    <h4>Public Service<h4>
                            <a href="">
                                <h5 class="mt-3">Emery Work Bed Program</h5>
                            </a>
                            <a href="">
                                <h5 class="mt-3">New Endeavors by Women</h5>
                            </a>
                            <a href="">
                                <h5 class="mt-3">Blair House</h5>
                            </a>
                            <a href="">
                                <h5 class="mt-3">Pat Handy Shelter for Women</h5>
                            </a>
                            <a href="">
                                <h5 class="mt-3">Central Union Mission</h5>
                            </a>
                </div>
            </div>
        </div>

    </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>