<!DOCTYPE html>
<html>

<head>
    <title>Your Personalized Gif</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
</head>

<body>
    <h1> Donate & Volunteer</h1>
    <p> If you are looking for ways to help and support the homeless shelters and inns, <br>
        below are resources you can check out based on the state you reside in. Thank you so much <br>
        for making an impact and helping the homeless community! </p>
    <a href = "https://nationalhomeless.org/taking-action/volunteer/"> National </a>
    <a href = "https://firehouseshelter.com/get-involved/volunteer/">Alabama</a> 
    <a href = "https://www.hud.gov/states/alaska/homeless/volunteerhomeless"> Alaska</a>
    <a href = "https://www.phoenix.gov/homeless-help-volunteers"> Arizona</a>
    <a href = "https://www.hud.gov/states/arkansas/homeless/volunteer" >Arkansas</a> 
    <a href = "https://homeless.lacounty.gov/volunteer/" > California </a>
    <a href = "https://www.coloradocoalition.org/getinvolved" >Colorado </a>
    <a href = "https://www.hud.gov/states/connecticut/homeless/volunteer">Connecticut </a> 
    <a href = "https://www.hud.gov/states/delaware/homeless/volunteer" >Delaware </a> 
    <a href = "https://www.centralfloridahomeless.org/take-action"> Florida</a>"
    <a href = "https://www.atlantadowntown.com/initiatives/partner-for-hope/homeless-services" > Georgia</a>
    <a href = "https://www.hud.gov/states/hawaii/homeless/volunteer"> Hawaii </a>
    <a href = "https://boiserm.org/get-involved/">Idaho</a> 
    <a href = "https://www.connect2home.org/volunteer.html">Illinois</a> 
    <a href = "https://wheelermission.org/ways-to-give/">Indiana</a> 
    <a href = "https://centraliowashelter.org/how-to-help/volunteer.html">Iowa</a> 
    <a href = "Kansas"> Kansas </a>
    <a href = "https://louhomeless.org/how-you-can-help/volunteer/">Kentucky</a> 
    <a href = "https://www.hud.gov/states/louisiana/homeless/volunteer"> Louisiana </a>
    <a href = "http://www.shelterme.org/needs.html">Maine</a> 
    <a href = "https://www.hchmd.org/volunteer">Maryland</a> 
    <a href = "https://mahomeless.org/volunteer-opportunities/">Massachusetts</a> 
    <a href = "https://www.voami.org/"> Michigan </a>
    <a href = "http://mnhomeless.org/get-involved/volunteer.php">Minnesota</a> 
    <a href = "https://www.hud.gov/states/mississippi/homeless/volunteer"> Mississippi</a>
    <a href = "https://www.covenanthousemo.org/volunteer-with-chmo"> Missouri</a>
    <a href = "https://www.justserve.org/montanarescuemission"> Montana </a>
    <a href = "https://sienafrancis.org/how-to-help/volunteer/volunteer.html">Nebraska</a> 
    <a href = "https://nphy.org/">Nevada</a>
    <a href = "https://www.manchesternh.gov/Residents/Volunteer">New Hampshire</a> 
    <a href = "https://www.hud.gov/states/new_jersey/homeless/volunteer">New Jersey</a> 
    <a href = "https://abqhch.org/get-involved/">New Mexico</a> 
    <a href = "https://www.coalitionforthehomeless.org/where-to-volunteer-in-nyc-homelessness/"> New York</a>
    <a href = "https://www.urbanministrycenter.org/">North Carolina</a> 
    <a href = "https://www.hud.gov/states/north_dakota/homeless/volunteer"> North Dakota</a>
    <a href = "https://www.neoch.org/become-a-volunteer"> Ohio </a>
    <a href = "https://homelessalliance.org/?page_id=251"> Oklahoma</a>
    <a href = "https://www.portlandoregon.gov/toolkit/69886">Oregon</a> 
    <a href = "https://www.voapa.org/homeless-services">Pennsylvania</a> 
    <a href = "https://www.crossroadsri.org/how-you-can-help-1"> Rhode Island</a>
    <a href = "https://www.hud.gov/states/south_carolina/homeless/volunteer"> South Carolina </a>
    <a href = "https://www.hud.gov/states/south_dakota/homeless">South Dakota</a> 
    <a href = "https://nashvillerescuemission.org/get-involved/">Tennessee</a> 
    <a href = "https://caritasofaustin.org/get-involved/volunteer/">Texas</a> 
    <a href = "https://www.voaut.org/homeless"> Utah</a>
    <a href = "https://www.hud.gov/states/vermont/homeless/volunteer">Vermont</a> 
    <a href = "https://www.voachesapeake.org/homeless"> Virginia</a>
    <a href = "https://www.ugm.org/volunteer/" > Washington</a>
    <a href = "https://www.hud.gov/states/west_virginia/homeless/volunteer">West Virginia</a> 
    <a href = "https://www.hud.gov/states/wisconsin/homeless/volunteer">Wisconsin</a> 
    <a href = "https://wyomission.org/get-involved/"> Wyoming</a>"

   


    <a href = "/index"> Home </a>
    <br> <br>
        <a href = "/logout"> Logout </a>
</body>

</html>