<html>

<head>
    <title>Homeless Resources</title>
</head>

<body>
    <h1>Homeless Resources</h1>
    <div class="homeless-resource">
       <ul>
        <li> <a href = '/signup'>SIGN UP</a> </li>
        <li> <a href='/login'>LOGIN</a> </li>
        <ul>
            {% for event in events %}
            <li>{{ event.event }} - {{ event.date }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <!-- syntax for checking if a session was started -->
        {% if session %}
        <p> Hi {{  session["username"] }}</p>
      
        {% endif %}
        <a href = "/logout"> LOGOUT</a>

        



    </div>
</body>

</html>