<html>

<head>
    <title>Homeless Resources</title>
</head>

<body>
    <h1>Homeless Resources</h1>
    <div>
        <!-- syntax for checking if a session was started -->
        {% if session %}
        <h4> Hi {{  session["username"] }}! Welcome to Homeless Resources!</h4>
        <div class="homeless-resource">
             
                <!-- </ul>
            {% for event in events %}
            <li>{{ event.event }} - {{ event.date }}</li>
            {% endfor %}
        </ul> -->
        </div>

        <div>

            <ul>
                <!-- <a href='/login'>LOGIN</a> <br> -->
                {% endif %}
                <a href='/signup'>SIGN UP </a> <br> 
                <a href='/login'>LOGIN</a> <br>
                <a href="/logout"> LOGOUT</a>

            </ul>




        </div>
        <!-- <div>
        <h1>{{womenShelter_info}}</h1>
    </div> -->
</body>

</html>