<!DOCTYPE html>
<html>
    <head>
        <title>Your Personalized Gif</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
    </head>
    <body>
        <h1>Your Shelter</h1>
        <div>
            <h2> Homeless Shelters for LGBTQ</h2>
        <h4>Thank you so much for using Your Shelter! Below are shelters near you!</h4>
         {% for shelter in lgbtqShelter_info %} 
           <p> {{shelter}} </p>
            {% endfor %}
             <br>
        <a href = "/index"> Home </a>
        <br> <br>
        <a href = "/logout"> Logout </a>
    </div>
        
    </body>
</html>