<html>
<head>
</head>
<body>

<h2>Locations</h2>

<table>
  <tr>
    <th>Provider</th>
    <th>Address</th> 
  </tr>
  <tr>
    <td>Catholic Charities</td>
    <td>6010 Georgia Ave., NW</td>
  </tr>
   <tr>
    <td>Coalition for the Homeless</td>
    <td>4326 14th Street NW</td>
  </tr>
   <tr>
    <td>Coalition for the Homeless</td>
    <td>1318 Park Road NW</td>
  </tr>
  <tr>
    <td>Casa Ruby</td>
    <td>2822 Georgia Ave NW</td>
  </tr>
   <tr>
    <td>Catholic Charities</td>
    <td>2210 Adams Place, NE</td>
  </tr>
   <tr>
    <td>Catholic Charities</td>
    <td>1355 New York Avenue, NE</td>
  </tr>
   <tr>
    <td>Coalition for the Homeless</td>
    <td>1725 Lincoln Road NE</td>
  </tr>
   <tr>
    <td>New Endeavors by Women</td>
    <td>611 N St. NW</td>
  </tr>
   <tr>
    <td>Coalition for the Homeless</td>
    <td>635 Eye Street, NE</td>
  </tr>
  <tr>
    <td>N Street Village</td>
    <td>810 5th St. NW</td>
  </tr>
  <tr>
    <td>Central Union Mission</td>
    <td>65 Massachusetts Avenue, NW</td>
  </tr>
  <tr>
    <td>Sasha Bruce Youthworks</td>
    <td>1022 Maryland Ave NE</td>
  </tr>
  <tr>
    <td>New Hope Ministries</td>
    <td>425 2nd St, NW</td>
  </tr>
  <tr>
    <td>Catholic Charities</td>
    <td>1900 Massachusetts Ave SE, Bldg. 27</td>
  </tr>
  <tr>
    <td>Catholic Charities</td>
    <td>2700 Martin Luther King Jr. Ave, SE</td>
  </tr>
  <tr>
    <td>Covenant House Washington</td>
    <td>2001 Mississippi Ave SE</td>
  </tr>
   <tr>
    <td>Coalition for the Homeless</td>
    <td>1131 Spring Road NW</td>
  </tr>
   <tr>
    <td>Coalition for the Homeless</td>
    <td>455/457 Florida Avenue NW</td>
    </tr>
  
</table>

</body>
</html>
