<!DOCTYPE html>
<!-- <html>

<head>
    <title>Your Personalized Gif</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1cfd2837ce.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light" id="nav">
        <div class="container-fluid">
            <i class="fas fa-hand-holding-heart"></i>

            <a class="navbar-brand" href="/index">YOUR SHELTER</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Maps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/donatevolunteer">Volunteer</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Get Help
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/youth">Youth</a></li>
                            <li><a class="dropdown-item" href="/women">Women</a></li>
                            <li><a class="dropdown-item" href="/men">Men</a></li>
                            <li><a class="dropdown-item" href="/lgbtq">LGBTQ</a></li>
                            <li><a class="dropdown-item" href="/transportation">Transportation</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="d-grid gap-2 d-md-block">
                {% if session %}
                <a href="/logout"><button type="button" class="top-btn btn-outline-primary">Logout</button></a>
                {% endif %}
                <a href='/signup'><button type="button" class="top-btn btn-outline-primary">Sign Up</button></a>
                <a href='/login'><button type="button" class="top-btn btn-outline-primary">Log In</button></a>
            </div>
        </div>


    </nav>


    <div class="shelter-home">

        <div class="row" id="ad">

            <div class="col-lg-12 text-center pt-3">
                <!-- donate button -->
                <!-- <span class="donate1" onclick="openNav()"><h1>DONATE<img src="img/make-a-donation.svg"style="height:2rem;margin-bottom:0.7rem;"></h1></span> -->
                <!-- <button type="submit" class="donate1" id="" data-toggle="modal"
                    data-target="#exampleModalCenter">DONATE<i class="fas fa-donate"></i></button>  -->
                <a href='/donatevolunteer'><button type="submit" class="donate1" id="">DONATE<i
                            class="fas fa-donate"></i></button></a>

            </div>
        </div>

<!-- 
        <div class="youthinfo">
            <h2> MAP </h2> -->
            <!-- <h1>{{womenShelter_info}}</h1> -->

            <!-- <center>
                <iframe src="https://www.google.com/maps/d/embed?mid=1h7SP6qmj7GmzMgsSdzSeb4PrsYorqjyt" width="640"
                    height="480"></iframe>
            </center>
        </div> -->
        </div>


            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>

</html> 


<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
       h1 {
           text-align: center;
       }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        fieldset {
            background-color: rgb(112, 129, 160);
        }
        td,
        th {
            border: 1px solid #DDDDDD;
            text-align: left;
            padding: 8px;
        }
        tr:nth-child(even) {
            background-color: #FFFFFF;
        }
    </style>
    <title>Locations</title>
</head>
<body>
    <h1>Locations</h1>
    <iframe src="https://www.google.com/maps/d/embed?mid=1h7SP6qmj7GmzMgsSdzSeb4PrsYorqjyt" width="1346"
        height="480"></iframe>
    <form action="/map" method="POST" >
        <fieldset>
            <div class="row">
                    <label for="state">What state are you currently in?</label>
                    <select name="state" id="state">
                        <option value="Alabama">Alabama</option>
                        <option value="Alaska">Alaska</option>
                        <option value="Arizona">Arizona</option>
                        <option value="Arkansas">Arkansas</option>
                        <option value="California">California</option>
                        <option value="Colorado">Colorado</option>
                        <option value="Connecticut">Connecticut</option>
                        <option value="Delaware">Delaware</option>
                        <option value="District of Columbia">District of Columbia</option>
                        <option value="Florida">Florida</option>
                        <option value="Georgia">Georgia</option>
                        <option value="Guam">Guam</option>
                        <option value="Hawaii">Hawaii</option>
                        <option value="Idaho">Idaho</option>
                        <option value="Illinois">Illinois</option>
                        <option value="Indiana">Indiana</option>
                        <option value="Iowa">Iowa</option>
                        <option value="Kansas">Kansas</option>
                        <option value="Kentucky">Kentucky</option>
                        <option value="Louisiana">Louisiana</option>
                        <option value="Maine">Maine</option>
                        <option value="Maryland">Maryland</option>
                        <option value="Massachusetts">Massachusetts</option>
                        <option value="Michigan">Michigan</option>
                        <option value="Minnesota">Minnesota</option>
                        <option value="Mississippi">Mississippi</option>
                        <option value="Missouri">Missouri</option>
                        <option value="Montana">Montana</option>
                        <option value="Nebraska">Nebraska</option>
                        <option value="Nevada">Nevada</option>
                        <option value="New Hampshire">New Hampshire</option>
                        <option value="New Jersey">New Jersey</option>
                        <option value="New Mexico">New Mexico</option>
                        <option value="New York">New York</option>
                        <option value="North Carolina">North Carolina</option>
                        <option value="North Dakota">North Dakota</option>
                        <option value="Northern Marianas Islands">Northern Marianas Islands</option>
                        <option value="Ohio">Ohio</option>
                        <option value="Oklahoma">Oklahoma</option>
                        <option value="Oregon">Oregon</option>
                        <option value="Pennsylvania">Pennsylvania</option>
                        <option value="Puerto Rico">Puerto Rico</option>
                        <option value="Rhode Island">Rhode Island</option>
                        <option value="South Carolina">South Carolina</option>
                        <option value="South Dakota">South Dakota</option>
                        <option value="Tennessee">Tennessee</option>
                        <option value="Texas">Texas</option>
                        <option value="Utah">Utah</option>
                        <option value="Vermont">Vermont</option>
                        <option value="Virginia">Virginia</option>
                        <option value="Virgin Islands">Virgin Islands</option>
                        <option value="Washington">Washington</option>
                        <option value="West Virginia">West Virginia</option>
                        <option value="Wisconsin">Wisconsin</option>
                        <option value="Wyoming">Wyoming</option>
                    </select>
                    <label for="age">Whats your age?</label>
                    <select name="age" id="age">
                        <option value="11-17">11-17</option>
                        <option value="18-24">18-24</option>
                        <option value="18+">18+</option>
                    </select>
                    <label for="gender">Pick the one that applies to you.</label>
                    <select name="gender" id="gender">
                        <option value="Women">Women</option>
                        <option value="Men & Women">Men & Women</option>
                        <option value="Youth">Youth</option>
                        <option value="Men">Men</option>
                    </select>
                    <input type="submit" value="Submit">
                    </div>
        </fieldset>
    </form>
    <table>
    <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Address</th>
    <th>Number of Beds</th>
    </tr>
    {% for index in dMap %}
        <tr>
        <td> {{index["number"]}} </td> 
        <td> {{index["name"]}} </td>
        <td> <a href="{{index['hyperlink']}}"> {{index["address"]}}</a></td>
        <td> {{index["numberof_beds"]}} </td>
        </tr>     
        {% endfor %}
    </table>
</body>