<!DOCTYPE html>
<html>

<head>
    <title>Your Personalized Gif</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
    
</head>

<body>
    <h2>Apologies, no homeless shelters found.</h2>
    <h4>  Unfortunately, our resource is currently focused on DC, but here are some resources below that may help you!  </h4>
    <a href= "https://www.covenanthouse.org/"> Homeless Assistance for Youth </a>
    <br> 
    <a href = "https://helppayingthebills.com/homeless-shelter-locations-state/"> Homeless Shelters by State </a>
    <br> <br>
    <a href = "/index"> Home </a>
    <br> <br>
        <a href = "/logout"> Logout </a>
</body>

</html>