<html>
    <head>
        <title>Your Personalized Gif</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
    </head>
    <body>
        <h1>Your Shelter</h1>
        <h3>You requested a santuary</h3>
        <iframe src="{{shelter_info}}"></iframe>
        <!-- <img src={{giph_link}}> -->
        <!-- <iframe src="https://www.google.com/maps/embed?!6010 Georgia Ave., NW" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
    </body>
</html>