<!DOCTYPE html>
<html>

<head>
    <title>Your Personalized Gif</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
</head>

<body>
    <h1>Your Shelter</h1>
    <!-- <iframe src="{{shelter_info}}"></iframe> -->
    <div>
        <h2> Transportation Trouble </h2>
        <h4>Thank you so much for using Your Shelter! Here are some resources if you are having transporation trouble.  </h4>
        <!-- <h1>{{womenShelter_info}}</h1> -->
        <br>
        <a href = "https://nche.ed.gov/transportation/ ">Transporation Assitance </a> 
        <br>
        <a href = "/index"> Home </a>
        <br> <br>
        <a href = "/logout"> Logout </a>
    </div>
    
</body>

</html>