<!DOCTYPE html>
<html>

<head>
    <title>Your Personalized Gif</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
</head>

<body>
    <h1>Your Shelter</h1>
    <!-- <iframe src="{{shelter_info}}"></iframe> -->
    <div>
        <h2>Homeless Shelters for Youth </h2> 
        <h4>Thank you so much for using Your Shelter! Below are shelters near you!</h4>
        <!-- <h1>{{womenShelter_info}}</h1> -->
         {% for youth in youthShelter_info %}
        <p> {{youth}} </p>
        {% endfor %}
        <br>
        <a href = "/index"> Home </a>
        <br> <br>
        <a href = "/logout"> Logout </a>
    </div>
    <!-- <img src={{giph_link}}> -->
    <!-- <iframe src="https://www.google.com/maps/embed?!6010 Georgia Ave., NW" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
</body>

</html>